.App {
  font-family: sans-serif;
  background-color: rgb(228, 208, 170);
  min-height: 100vh;
}

h1 {
  padding: 5px 0;
  border-bottom-style: solid;
  border-bottom-color: rgb(114, 112, 111);
  border-bottom-width: 3px;
  text-align: center;
  margin: 0;
}
.formElements {
  margin: 0 auto;
  width: 60%;
}
.input {
  width: 75%;
  margin: 0 3px;
  padding: 6px 1px;
}

.search {
  margin: 3px 0;
  padding: 6px 6px;
  width: 100%;
}

.submit {
  padding: 9px 15px;
  background-color: rgb(233, 178, 106);
  border: none;
  border-radius: 4px;
  opacity: 0.7;
}
.list {
  margin: 20px 0px;
}
.listItem {
  margin: 5px 0;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

li {
  list-style-type: none;
  margin: 0 5px;
  padding-top: 5px;
}
li.text {
  width: 75%;
}
li.completed {
  list-style-type: none;
  text-decoration: line-through;
}

.done {
  padding: 3px 15px;
  background-color: rgb(185, 238, 136);
  border: 1px solid;
  border-radius: 4px;
  opacity: 0.7;
}

.delete {
  margin-left: 5px;
  padding: 3px 15px;
  background-color: rgb(230, 91, 91);
  border: 1px solid;
  border-radius: 4px;
  opacity: 0.7;
}

.done:hover,
.delete:hover,
.submit:hover {
  opacity: 1;
}

.App-link {
  color: #61dafb;
}
